body{
background-color: rgb(74, 74, 81);
      color: white;
}
a{
      text-decoration: none;
      font-size: 40px;
      color:gray;
      border: 5px gray;
      background-color: rgb(58, 58, 61);
}
 a:hover{
      text-decoration: none;
      font-size: 40px;
      color:gray;
      border: 5px solid rgb(150, 50, 18);
      background-color: rgb(58, 58, 61);
 }
header{
font-size: 30px;
     background-color: rgb(201, 37, 0); 
}
